
<div class="col-md-10 col-md-offset-1">

    <nav class="navbar navbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            <h4>Course</h4>
          </a>
        </div>
      </div>
    </nav>
    <!-- <button class="btn btn-primary">Reset Form</button> -->

    <!-- <hr> -->


    <table class="table table-bordered table-hover table-striped" >

      <tr>
        <th>ID</th>
        <th>Course</th>
        <th>Assignment</th>
        <th></th>
      </tr>

      <tr *ngFor="let cl of courselist">
          <td> {{ cl.id }} </td>
          <td> {{ cl.course }} </td>
          <td> {{ cl.assignments }} </td>
      </tr>

    </table>

    <button class="btn btn-primary">Add</button>

    

</div>